.current-weather {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: var(--text-primary);
    margin: 0 0.5rem;
    text-shadow: 0 0 5px var(--shadow-strong);
}

.location {
    font-size: 1.5rem;
    line-height: 2rem;
}

.location > img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
}

.temperature {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    width: 100%;
    border-bottom: var(--division-border);
}

.current-temperature {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    opacity: 0.9;
    color: var(--text-secondary);
    width: 100%;
    gap: 1rem;
}

.weather-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 900px) {
    .weather-details {
        gap: 0;
    }
}