@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/20/b2/cc/20b2cc0deeb11fc86622a3991eb4f17c.gif");
}

.root {
    display: flex;
    height: 100%;
}

.card {
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(10px);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10%;
    width: 50%;
    height: 80%;
}

.temperature {
    font-family: "IBM Plex Sans", sans-serif;
}

.current-temperature{
    font-size: 2em;
}

.timezones-div {
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
}

.timezones-selection {

}

.timezones-label {
}